* {
    margin: 0;
}

a{
    text-decoration: none;
}

.top-banner{
    display: flex;
    Justify-content: center;
    gap: 10px;
    background: rgb(20, 20, 20);
    padding: 24px;
}

.top-banner p{
    color: rgb(152, 152, 154);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.navbar{
    background: rgb(26, 26, 26);
    padding: 24px 162px 24px 162px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 40px;
}

.buttons a{
    color: rgb(126, 126, 129);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 14px 24px 14px 24px;
}

.buttons a:hover{
    outline: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
    background: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.contact-us{
    border-radius: 10px;
    background: rgb(255, 209, 26);
    padding: 14px 20px 14px 20px;
    color: rgb(20, 20, 20);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}


main{
    background: rgb(20, 20, 20);
}

.section-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 130px 162px 150px;
}

h1{
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 130%;
}

.section-hero p{
    color: rgb(152, 152, 154);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.content-title{
    display: flex;
    gap: 80px;
    align-items: center;
}

.learn-connect-and-innovate{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 120px 162px;
    background: rgb(26, 26, 26);
}

.top{
    display: flex;
    gap: 80px;
}

#biglogo{
    display: flex;
    align-items: center;
}

.top-text-sub-container{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.text-block{
    display: flex;
    justify-content: center;
    background: rgb(51, 51, 51);
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
}

.text-block p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.top-title{
    color: rgb(255, 255, 255);
    font-size: 58px;
    font-weight: 500;
    line-height: 130%;
}

.top-description{
    display: flex;
    flex-direction: column;
    color: rgb(126, 126, 129);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 30px;
}

.activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 12px;
    background: rgb(20, 20, 20);
    padding: 20px;
    gap: 20px;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 12px;
    background: rgb(26, 26, 26);
    padding: 40px;
}

.block p{
    color: rgb(152, 152, 154);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.block-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-top p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
}

footer{
    display: flex;
    width:100%;
    align-items: center;
    flex-direction: column;
}

.main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
